@page
@model CoreWiki.Web.Pages.Article.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Article.Topic</h2>
<markdown>@Model.Article.Content</markdown>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
