@page
@model CoreWiki.Web.Areas.FirstStart.Pages.IndexModel

@{
    ViewData["Title"] = "First start";
}

<div>
    <div class="text-center">
        <h1>CoreWiki</h1>
        <h6 class="font-italic">The .NET Core Wiki Platform</h6>
    </div>
    <p>Thanks for installing CoreWiki, Let's complete the install: </p>
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label asp-for="FirstStartConfiguration.AdminUsername"></label>
                    <input asp-for="FirstStartConfiguration.AdminUsername"
                           class="form-control"
                           placeholder="Enter admin username">
                    <span asp-validation-for="FirstStartConfiguration.AdminUsername" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstStartConfiguration.AdminEmail"></label>
                    <input asp-for="FirstStartConfiguration.AdminEmail"
                           class="form-control"
                           placeholder="Enter admin email address">
                    <span asp-validation-for="FirstStartConfiguration.AdminEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstStartConfiguration.AdminPassword"></label>
                    <input asp-for="FirstStartConfiguration.AdminPassword" class="form-control" placeholder="Password">
                    <span asp-validation-for="FirstStartConfiguration.AdminPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstStartConfiguration.Database"></label>
                    <select asp-for="FirstStartConfiguration.Database" class="form-control">
                        <option selected>Choose...</option>
                        <option>Postgres</option>
                        <option>SQL Server</option>
                        <option>My SQL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="FirstStartConfiguration.ConnectionString"></label>
                    <input asp-for="FirstStartConfiguration.ConnectionString"
                           class="form-control"
                           placeholder="Connection String">
                    <small id="databaseHelp" class="form-text text-muted">Enter your connection string here - leave blank for default.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}